exports/job-search-automation.json
{
  "id": "8vs888j57KeLaGtH",
  "name": "Job Search Automation",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "filePath": "/home/node/.n8n-files/your-resume.pdf"
      },
      "id": "readResumePdf",
      "name": "Read Resume PDF",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        256,
        0
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": true
        }
      },
      "id": "extractPdfText",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        512,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// === READ API KEYS FROM keys.json ===\nconst fs = require('fs');\nlet keys;\ntry {\n  keys = JSON.parse(fs.readFileSync('/home/node/jobsearch-keys.json', 'utf8'));\n} catch(e) {\n  throw new Error('Cannot read keys.json: ' + e.message + '. Check Docker volume mount and restart.');\n}\n\nif (!keys.rapidApiKey || keys.rapidApiKey.trim().startsWith('YOUR_')) {\n  throw new Error('keys.json: rapidApiKey not set. Fill in keys.json and restart Docker.');\n}\nif (!keys.openAiApiKey || keys.openAiApiKey.startsWith('YOUR_')) {\n  throw new Error('keys.json: openAiApiKey not set. Fill in keys.json and restart Docker.');\n}\nif (!keys.apifyToken || keys.apifyToken.startsWith('YOUR_')) {\n  throw new Error('keys.json: apifyToken not set. Fill in keys.json and restart Docker.');\n}\n\n// === READ RESUME FROM PDF ===\nconst rawText = $input.first().json.text;\n\nif (!rawText || rawText.trim().length < 50) {\n  throw new Error('Resume PDF appears empty or too short.');\n}\n\n// Clean up null characters introduced by PDF extraction\nconst resumeText = rawText.replace(/\\u0000/g, '').trim();\n\nconst baseConfig = {\n  minScore: 70,\n  yourEmail: 'YOUR_EMAIL@gmail.com',\n  spreadsheetId: 'YOUR_GOOGLE_SHEET_ID',\n  openAiApiKey: keys.openAiApiKey,\n  rapidApiKey: keys.rapidApiKey.trim(),\n  apifyToken: keys.apifyToken,\n  resumeText: resumeText\n};\n\n// 7 targeted JSearch searches: .NET/C#/Azure/Microservices roles, Bangalore only\nconst queries = [\n  '.NET Developer Bangalore India',\n  'Backend Engineer .NET Bangalore India',\n  'Microservices .NET Backend Engineer Bangalore India',\n  'SDE 2 .NET Bangalore India',\n  'Senior Software Engineer .NET Bangalore India',\n  'Azure .NET Developer Bangalore India',\n  'Software Engineer II .NET Bangalore India'\n];\n\nreturn queries.map(function(q) {\n  return { json: Object.assign({}, baseConfig, { searchQuery: q }) };\n});"
      },
      "id": "setPreferences",
      "name": "Set Job Preferences",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://jsearch.p.rapidapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.searchQuery }}"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "num_pages",
              "value": "4"
            },
            {
              "name": "country",
              "value": "in"
            },
            {
              "name": "date_posted",
              "value": "week"
            },
            {
              "name": "employment_types",
              "value": "FULLTIME"
            },
            {
              "name": "language",
              "value": "en"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RapidAPI-Key",
              "value": "={{ $json.rapidApiKey }}"
            },
            {
              "name": "X-RapidAPI-Host",
              "value": "jsearch.p.rapidapi.com"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          },
          "timeout": 30000
        }
      },
      "id": "searchJobs",
      "name": "Search Google Jobs (JSearch)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        -208
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $input.first().json;\n\nreturn [\n  {\n    json: {\n      apifyToken: config.apifyToken,\n      naukriJobTitle: '.NET Developer',\n      naukriLocation: 'Bangalore'\n    }\n  }\n];",
        "mode": "runOnceForAllItems"
      },
      "id": "setNaukriQueries",
      "name": "Set Naukri Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/nuclear_quietude~naukri-job-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.apifyToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "job_title",
              "value": "={{ $json.naukriJobTitle }}"
            },
            {
              "name": "location",
              "value": "={{ $json.naukriLocation }}"
            },
            {
              "name": "experience",
              "value": 5
            },
            {
              "name": "no_of_jobs",
              "value": 30
            },
            {
              "name": "job_age",
              "value": "7"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 300000
        }
      },
      "id": "searchNaukri",
      "name": "Search Naukri (Apify)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $input.first().json;\n\nreturn [\n  {\n    json: {\n      apifyToken: config.apifyToken,\n      naukriJobTitle: 'C# Developer',\n      naukriLocation: 'Bangalore'\n    }\n  }\n];",
        "mode": "runOnceForAllItems"
      },
      "id": "setNaukriQueriesCSharp",
      "name": "Set Naukri Queries (C#)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/nuclear_quietude~naukri-job-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.apifyToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "job_title",
              "value": "={{ $json.naukriJobTitle }}"
            },
            {
              "name": "location",
              "value": "={{ $json.naukriLocation }}"
            },
            {
              "name": "experience",
              "value": 5
            },
            {
              "name": "no_of_jobs",
              "value": 30
            },
            {
              "name": "job_age",
              "value": "7"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "timeout": 300000
        }
      },
      "id": "searchNaukriCSharp",
      "name": "Search Naukri C# (Apify)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        304
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "mergeSearchResults",
      "name": "Merge Search Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1456,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nlet allJobs = [];\n\nfunction normalizeUrl(url) {\n  if (!url) return '';\n  try {\n    const u = new URL(url);\n    return (u.hostname + u.pathname).toLowerCase().replace(/\\/$/, '');\n  } catch(e) { return url.toLowerCase().trim().substring(0, 200); }\n}\n\nfunction hashJob(company, title, applyLink) {\n  const raw = applyLink ? normalizeUrl(applyLink) : ((company || '').toLowerCase().trim() + '|' + (title || '').toLowerCase().trim());\n  let hash = 0;\n  for (let i = 0; i < raw.length; i++) {\n    const char = raw.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  return 'JOB_' + Math.abs(hash).toString(36);\n}\n\nfunction parseNaukriJob(job) {\n  const company = job.companyName || job.company || 'Unknown Company';\n  const title = job.jobTitle || job.title || job.positionName || 'Unknown Title';\n  const applyLink = job.apply_link || job.jobUrl || job.url || job.applyLink || '';\n  return {\n    jobId: hashJob(company, title, applyLink),\n    title,\n    company,\n    location: job.location || job.jobLocation || job.city || 'Bangalore',\n    description: (job.jobDescription || job.description || job.jobSummary || '').substring(0, 3000),\n    postedDate: job.datePosted || job.postedDate || job.posted || job.date || 'Unknown',\n    applyLink,\n    source: 'Naukri',\n    salary: job.salary || job.salaryRange || job.ctc || 'Not listed',\n    schedule: job.employmentType || job.jobType || job.workplaceType || ''\n  };\n}\n\nfor (const item of allItems) {\n  if (item.json.data && Array.isArray(item.json.data)) {\n    // JSearch format: single response item with data[] array\n    const jobs = item.json.data;\n    const parsed = jobs.map(job => {\n      const location = [job.job_city, job.job_state].filter(Boolean).join(', ') || 'Bangalore';\n      let salary = 'Not listed';\n      if (job.job_min_salary && job.job_max_salary) {\n        salary = `${job.job_salary_currency || ''} ${job.job_min_salary}-${job.job_max_salary} ${job.job_salary_period || ''}`.trim();\n      }\n      const applyLink = job.job_apply_link || job.job_google_link || '';\n      return {\n        jobId: hashJob(job.employer_name, job.job_title, applyLink),\n        title: job.job_title || 'Unknown Title',\n        company: job.employer_name || 'Unknown Company',\n        location,\n        description: (job.job_description || '').substring(0, 3000),\n        postedDate: job.job_posted_at_datetime_utc ? job.job_posted_at_datetime_utc.split('T')[0] : 'Unknown',\n        applyLink,\n        source: job.job_publisher || 'JSearch',\n        salary,\n        schedule: job.job_employment_type || ''\n      };\n    });\n    allJobs.push(...parsed);\n  } else if (Array.isArray(item.json)) {\n    // Apify/Naukri format — full array in one item (fallback)\n    allJobs.push(...item.json.map(parseNaukriJob));\n  } else if (item.json.title || item.json.jobTitle || item.json.positionName || item.json.companyName) {\n    // Individual Naukri/Apify job object — n8n HTTP Request unpacks JSON arrays into individual items\n    allJobs.push(parseNaukriJob(item.json));\n  }\n}\n\nif (allJobs.length === 0) {\n  throw new Error('No jobs found from any source. Check your API keys and queries.');\n}\n\nreturn { json: { jobs: allJobs, totalFound: allJobs.length } };",
        "mode": "runOnceForAllItems"
      },
      "id": "parseJobs",
      "name": "Parse Job Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const allResults = $input.all();\nconst uniqueJobs = new Map();\n\nfor (const result of allResults) {\n  const jobs = result.json.jobs || [];\n  for (const job of jobs) {\n    if (!uniqueJobs.has(job.jobId)) {\n      uniqueJobs.set(job.jobId, job);\n    }\n  }\n}\n\nreturn Array.from(uniqueJobs.values()).map(job => ({ json: job }));",
        "mode": "runOnceForAllItems"
      },
      "id": "filterDuplicates",
      "name": "Filter Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collapse N job items into 1 so Read Existing Jobs runs exactly once (not per-job)\nconst jobs = $input.all().map(item => item.json);\nreturn [{ json: { jobs, count: jobs.length } }];",
        "mode": "runOnceForAllItems"
      },
      "id": "aggregateJobs",
      "name": "Aggregate Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        64
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Job Tracker",
          "mode": "name"
        },
        "options": {}
      },
      "id": "readExistingJobs",
      "name": "Read Existing Jobs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2208,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "syncDedup",
      "name": "Sync Dedup Inputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2464,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "function normalizeUrl(url) {\n  if (!url) return '';\n  try {\n    const u = new URL(url);\n    return (u.hostname + u.pathname).toLowerCase().replace(/\\/$/, '');\n  } catch(e) { return url.toLowerCase().trim().substring(0, 200); }\n}\n\nconst all = $input.all();\n\n// Separate by shape: jobs item has {jobs:[...], count:N}, sheet rows have {Apply Link:...}\nconst jobsItem = all.find(i => Array.isArray(i.json.jobs));\nconst sheetRows = all.filter(i => !Array.isArray(i.json.jobs));\n\nconst jobs = jobsItem ? jobsItem.json.jobs : [];\n\nconst seenLinks = new Set(\n  sheetRows.map(r => normalizeUrl(r.json['Apply Link'] || '')).filter(Boolean)\n);\nconst seenTitles = new Set(\n  sheetRows.map(r => ((r.json['Company'] || '') + '|' + (r.json['Job Title'] || '')).toLowerCase().trim()).filter(s => s !== '|')\n);\n\nconst newJobs = jobs.filter(job => {\n  const link = normalizeUrl(job.applyLink || '');\n  if (link) return !seenLinks.has(link);\n  const key = ((job.company || '') + '|' + (job.title || '')).toLowerCase().trim();\n  return !seenTitles.has(key);\n});\n\nif (newJobs.length === 0) {\n  throw new Error('No new jobs this week \\u2014 all ' + jobs.length + ' results were already seen in previous runs.');\n}\n\nreturn newJobs.map(job => ({ json: job }));",
        "mode": "runOnceForAllItems"
      },
      "id": "filterNewJobs",
      "name": "Filter New Jobs Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "﻿const items = $input.all();\n\n// Non-.NET stack patterns in job title — .NET/C# anywhere in title overrides\n// Matches both \"Java Developer\" AND \"Software Engineer - Java\", \"Java API Engineer\"\nconst nonDotNetTitlePatterns = [\n  // Direct stack mentions (anywhere in title)\n  /\\bjava\\b(?!\\s*script)/i,\n  /\\bnode\\.?js\\b/i,\n  /\\bpython\\b/i,\n  /\\bruby\\s*(developer|engineer|on rails)\\b/i,\n  /\\bgolang\\b/i,\n  /\\bgo\\s+(developer|engineer|backend)\\b/i,\n  /\\bphp\\b/i,\n  /\\bandroid\\s*(developer|engineer|sde|framework)\\b/i,\n  /\\bios\\s*(developer|engineer|sde)\\b/i,\n  /\\bflutter\\s*(developer|engineer)\\b/i,\n  /\\breact\\s*native\\b/i,\n  /\\bmobile\\s*(ui|developer|engineer|sde)\\b/i,\n  /\\bui\\s*developer\\b/i,\n  /\\bangular\\s*(developer|engineer|consultant)\\b/i,\n  /\\bvue\\s*(developer|engineer)\\b/i,\n  /\\blaravel\\b/i,\n  /\\bdata\\s*(scientist|analyst)\\b/i,\n  /\\bmachine\\s*learning\\b/i,\n  /\\bgen\\s*ai\\b/i,\n  /\\bsalesforce\\b/i,\n  /\\bsap\\b/i,\n  /\\babap\\b/i,\n  /\\bsql\\s+(developer|engineer)\\b/i,\n  /\\b(c\\+\\+|cpp)\\b/i,\n  /\\bkernel\\b/i,\n  /\\blinux\\s+(kernel|infrastructure|engineer)\\b/i,\n  /\\bavionics\\b/i,\n  /\\bembedded\\b/i,\n  /\\baveva\\b/i,\n  /\\btemenos\\b/i,\n  /\\bworkday\\b/i,\n  /\\blabware\\b/i,\n  /\\bgenesys\\b/i,\n  /\\bservicenow\\b/i,\n  /\\b(rpa|ui\\/ux)\\b/i,\n  // Role types we don't want\n  /\\b(test|qa|sdet)\\s*(engineer|lead|specialist|automation)\\b/i,\n  /\\btest\\s*module\\s*lead\\b/i,\n  /\\bdevops\\s*(engineer|specialist)\\b/i,\n  /\\bdevsecops\\b/i,\n  /\\bsre\\b/i,\n  /\\b(ci\\/cd|pipeline)\\b/i,\n  /\\bcloud\\s*(engineer|architect|operations|ops)\\b/i,\n  /\\bnetwork(ing)?\\s*engineer\\b/i,\n  /\\bsecurity\\s*engineer\\b/i,\n  /\\bsupport\\s*(engineer|specialist|l[12])\\b/i,\n  /\\bbusiness\\s*(analyst|consultant)\\b/i,\n  /\\bproject\\s*manager\\b/i,\n  /\\bprogram\\s*manager\\b/i,\n  /\\bservice\\s*management\\b/i,\n  /\\bsoftware\\s*inventory\\b/i,\n  /\\bcustom\\s*software\\s*engineer\\b/i,\n  /\\bnugenesis\\b/i,\n  /\\bfenergo\\b/i,\n  /\\bsprinklr\\b/i,\n];\n\nconst dotNetTitlePatterns = [/\\.net/i, /\\bc#\\b/i, /\\basp\\.net/i, /\\bdotnet\\b/i, /\\bdot\\s*net\\b/i];\n\nconst tooJuniorPatterns = [\n  /fresher/i,\n  /internship/i,\n  /\\bintern\\b/i,\n  /\\b(junior|jr\\.?)\\s*(developer|engineer|sde|programmer)\\b/i,\n  /\\bgraduate\\s*(engineer|developer|trainee)\\b/i,\n  /\\btrainee\\s*(engineer|developer|software)\\b/i,\n  /\\b0[-]?[12]\\s*years?\\b/i,\n  /\\bsoftware\\s*engineer\\s*i\\b(?!\\s*[i])/i,\n  /\\bsde[-\\s]?[1i]\\b(?!\\s*[i])/i,\n];\n\nconst tooSeniorPatterns = [\n  /\\bprincipal\\s*(engineer|architect|developer|software)\\b/i,\n  /\\bstaff\\s*(engineer|developer|software|architect)\\b/i,\n  /\\b(vp|vice president)\\s*(of|,)?\\s*(engineering|technology|software)\\b/i,\n  /\\b(cto|chief\\s*technology\\s*officer)\\b/i,\n  /\\bengineering\\s*director\\b/i,\n  /\\b(sr\\.?\\s*manager|sr\\.?\\s*director)\\b/i,\n  /\\bdirector,?\\s*software/i,\n  /\\bsde\\s*iii\\b/i,\n  /\\bsde\\s*3\\b/i,\n];\n\nconst otherCityPattern = /(mumbai|hyderabad|chennai|pune|delhi|gurugram|gurgaon|noida|kolkata|ahmedabad|jaipur|indore|coimbatore)/i;\n\n// Description-level non-.NET stack check (catches niche/obscure roles)\nconst descNonDotNetPatterns = [\n  /\\bprimary\\s+stack[:\\s]+java\\b/i,\n  /\\bjava\\s+is\\s+(the\\s+)?(primary|main|required|mandatory)\\b/i,\n  /\\bpython\\s+is\\s+(the\\s+)?(primary|main|required|mandatory)\\b/i,\n];\n\nfunction seniorityScore(title) {\n  if (/(senior|sr\\.?|lead|tech lead)/i.test(title)) return 3;\n  if (/\\b(sde\\s*[23]|se\\s*[23]|engineer\\s*(ii|iii)|developer\\s*(ii|iii)|software\\s*engineer\\s*(2|3))\\b/i.test(title)) return 2;\n  return 1;\n}\n\nconst filtered = [];\nconst removed = { nonDotNet: [], tooJunior: [], tooSenior: [], overExperienced: 0, offLocation: 0, shortDesc: 0, descNonDotNet: 0 };\n\nfor (const item of items) {\n  const title = item.json.title || '';\n  const desc = item.json.description || '';\n  const location = item.json.location || '';\n\n  const hasDotNetInTitle = dotNetTitlePatterns.some(p => p.test(title));\n  if (!hasDotNetInTitle && nonDotNetTitlePatterns.some(p => p.test(title))) {\n    removed.nonDotNet.push(title);\n    continue;\n  }\n\n  // Junior check yields to .NET-in-title (e.g. \"Lead Software Engineer I (C#.NET)\" should pass)\n  if (!hasDotNetInTitle && tooJuniorPatterns.some(p => p.test(title))) {\n    removed.tooJunior.push(title);\n    continue;\n  }\n\n  if (tooSeniorPatterns.some(p => p.test(title))) {\n    removed.tooSenior.push(title);\n    continue;\n  }\n\n  // Description-level non-.NET check (only if .NET not in title — otherwise trust title)\n  if (!hasDotNetInTitle && descNonDotNetPatterns.some(p => p.test(desc))) {\n    removed.descNonDotNet++;\n    continue;\n  }\n\n  const expMatch = desc.match(/(\\d+)\\s*\\+\\s*years?\\s*(of\\s+)?(experience|exp)/i) ||\n                   desc.match(/(?:minimum|at\\s+least|min\\.?)\\s*(\\d+)\\s*years?\\s*(of\\s+)?(experience|exp)/i) ||\n                   desc.match(/(\\d+)\\s*years?\\s*(of\\s+)?(experience|exp)\\s*(?:minimum|required|min)/i);\n  if (expMatch) {\n    const minYears = parseInt(expMatch[1]);\n    if (minYears >= 8) { removed.overExperienced++; continue; }\n  }\n\n  const hasBangalore = /(bangalore|bengaluru)/i.test(location);\n  const hasOtherCity = otherCityPattern.test(location);\n  if (!hasBangalore && hasOtherCity) { removed.offLocation++; continue; }\n\n  if (desc.length < 150) { removed.shortDesc++; continue; }\n\n  filtered.push(item);\n}\n\nconst COMPANY_CAP = 3;\nconst byCompany = {};\nfor (const item of filtered) {\n  const co = (item.json.company || 'unknown')\n    .toLowerCase()\n    .replace(/\\s+(india|pvt|ltd|limited|inc|technologies|tech|solutions|services).?/gi, '')\n    .trim();\n  if (!byCompany[co]) byCompany[co] = [];\n  byCompany[co].push(item);\n}\n\nconst capped = [];\nconst capRemoved = [];\nfor (const [co, coItems] of Object.entries(byCompany)) {\n  if (coItems.length <= COMPANY_CAP) {\n    capped.push(...coItems);\n  } else {\n    const sorted = [...coItems].sort((a, b) => seniorityScore(b.json.title || '') - seniorityScore(a.json.title || ''));\n    capped.push(...sorted.slice(0, COMPANY_CAP));\n    capRemoved.push(co.slice(0, 20) + ' (dropped ' + (coItems.length - COMPANY_CAP) + ')');\n  }\n}\n\nif (capped.length === 0) {\n  throw new Error('All ' + items.length + ' jobs filtered. Non-.NET: ' + removed.nonDotNet.length + ', Junior: ' + removed.tooJunior.length + ', Senior: ' + removed.tooSenior.length + ', Over-exp: ' + removed.overExperienced + ', Off-location: ' + removed.offLocation + ', Stubs: ' + removed.shortDesc + '.');\n}\n\nconsole.log('Stack filter: ' + items.length + ' -> ' + capped.length + '. Removed: ' + removed.nonDotNet.length + ' non-.NET, ' + removed.tooJunior.length + ' junior, ' + removed.tooSenior.length + ' senior, ' + removed.overExperienced + ' over-exp, ' + removed.offLocation + ' off-location, ' + removed.shortDesc + ' stubs, ' + removed.descNonDotNet + ' desc-non-.NET. Company cap: ' + (capRemoved.length > 0 ? capRemoved.join('; ') : 'none'));\nif (removed.nonDotNet.length > 0) console.log('Non-.NET removed:', removed.nonDotNet.slice(0, 5).join(' | '));\n\nreturn capped;\n",
        "mode": "runOnceForAllItems"
      },
      "id": "filterStackQuality",
      "name": "Filter Stack & Quality",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare OpenAI payload for each job\nconst config = $('Set Job Preferences').first().json;\n\nreturn $input.all().map(item => {\n  const job = item.json;\n  const resume = config.resumeText || '';\n  const jobDesc = (job.description || '').substring(0, 3000);\n\n  const aiPayload = JSON.stringify({\n    model: 'gpt-4o-mini',\n    messages: [\n      {\n        role: 'system',\n        content: 'You are an expert technical recruiter specializing in .NET/backend engineering roles in India. Score job-resume matches for a Software Engineer II with 5+ years of experience.\\n\\nCANDIDATE PROFILE:\\n- Core Stack: C#, .NET Core, ASP.NET Core, Entity Framework, ReactJS (secondary)\\n- Data and Messaging: SQL Server, MongoDB, Redis, Apache Kafka, RabbitMQ\\n- Cloud and DevOps: Azure DevOps CI/CD, Docker, AWS S3, Nginx\\n- Architecture: Microservices, Distributed Systems, Event-Driven Design, TDD\\n- Domains: Fintech/BFSI (fund administration, client payments, reconciliation) + Healthcare IT\\n- Seniority: 5 years total, currently Software Engineer II at a Healthcare company, previously at a Fintech/Fund Administration company\\n\\nSCORING INSTRUCTIONS — follow these 4 steps in order:\\nStep 1: Assign a BASE score from the rubric below.\\nStep 2: ADD 8 for each boost condition that applies (max +16 total).\\nStep 3: SUBTRACT 15 for each penalty condition that applies.\\nStep 4: Clamp to 0-100. This is the final score field.\\n\\nBASE SCORE RUBRIC:\\n- 82-88: Strong .NET/C# backend role, solid architecture requirements (microservices, distributed systems, or event-driven design), 3-6 years required. This is where most good matches start.\\n- 70-81: Good .NET/C# backend role in Bangalore, 3-7 years required, backend stack match, no specific architecture requirement.\\n- 50-69: Partial — .NET present but role is frontend-heavy, or different primary stack with some .NET/C# overlap.\\n- 0-49: No .NET or C# requirement, entry-level only, purely frontend, or Java/Python-only.\\n\\nBOOST +8 for each that applies (max two boosts = +16):\\n- Role is in Fintech, BFSI, Banking, Payments, Insurance, Healthcare, or MedTech domain\\n- Requires Azure or Azure DevOps experience\\n- Requires Kafka, RabbitMQ, Redis, or event-driven messaging architecture\\n- Requires microservices or distributed systems architecture design\\n\\nPENALIZE -15 for each that applies:\\n- Role is primarily frontend (React/Angular/Vue is the main requirement, backend is secondary)\\n- Requires less than 2 years experience\\n- Requires more than 7 years experience\\n- No mention of .NET, C#, or backend development anywhere in the description\\n\\nSCORING EXAMPLES (use these to calibrate):\\n- .NET Core backend at a Fintech payments company, 4-5 years, microservices mentioned → base 86 + Fintech +8 + microservices +8 = 102 → capped at 100\\n- Solid .NET backend at a product company, 3-5 years, Azure DevOps required → base 83 + Azure +8 = 91\\n- Good .NET backend, Kafka/RabbitMQ required, 4-6 years → base 82 + messaging +8 = 90\\n- Good .NET backend, no boosts, 4-6 years → base 78, no boosts → 78\\n- .NET role but requires 8+ years → base 80 − penalty 15 = 65\\n- React-heavy full stack, .NET is secondary → base 60 − frontend penalty 15 = 45\\n\\nReturn a JSON object with exactly these fields: score (number 0-100), matchReason (string 2-3 sentences explaining the specific match and which boosts or penalties were applied), missingSkills (array of strings), keyMatchingSkills (array of strings), experienceFit (one of: good, overqualified, underqualified), recommendation (one of: strong-apply, apply, maybe, skip).'\n      },\n      {\n        role: 'user',\n        content: 'Analyze the match between this resume and job posting.\\n\\nRESUME:\\n' + resume + '\\n\\nJOB POSTING:\\n' + jobDesc\n      }\n    ],\n    temperature: 0.1,\n    response_format: { type: 'json_object' }\n  });\n\n  return {\n    json: {\n      ...job,\n      openAiApiKey: config.openAiApiKey,\n      aiPayload\n    }\n  };\n});",
        "mode": "runOnceForAllItems"
      },
      "id": "scoreMatch",
      "name": "Prepare Score Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.openAiApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.aiPayload }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          },
          "timeout": 60000
        }
      },
      "id": "scoreGroqApi",
      "name": "Score OpenAI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3456,
        64
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const groqResponse = $input.item.json;\nconst job = $('Prepare Score Request').item.json;\n\nconst aiText = groqResponse.choices?.[0]?.message?.content || '{}';\nlet p = {};\ntry {\n  p = JSON.parse(aiText);\n} catch(e) {\n  // Extract JSON block in case model wrapped it in markdown or added extra text\n  const match = aiText.match(/{[sS]*}/);\n  if (match) {\n    try { p = JSON.parse(match[0]); } catch(e2) {}\n  }\n}\n\nconst score = typeof p.score === 'number' ? p.score : (parseInt(p.score) || 0);\n\nreturn {\n  json: {\n    jobId: job.jobId,\n    title: job.title,\n    company: job.company,\n    location: job.location,\n    description: job.description,\n    postedDate: job.postedDate,\n    applyLink: job.applyLink,\n    source: job.source,\n    salary: job.salary,\n    schedule: job.schedule,\n    score,\n    matchReason: p.matchReason || '',\n    missingSkills: Array.isArray(p.missingSkills) ? p.missingSkills : [],\n    keyMatchingSkills: Array.isArray(p.keyMatchingSkills) ? p.keyMatchingSkills : [],\n    experienceFit: p.experienceFit || 'unknown',\n    recommendation: p.recommendation || 'skip'\n  }\n};"
      },
      "id": "parseScore",
      "name": "Parse AI Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3712,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst minScore = $('Set Job Preferences').first().json.minScore || 50;\n\nconst matched = items.filter(item => (item.json.score || 0) >= minScore);\n\nif (matched.length === 0) {\n  throw new Error(`No jobs scored above ${minScore}. Top score was ${Math.max(...items.map(i => i.json.score || 0))}. Try lowering minScore in Set Job Preferences.`);\n}\n\nreturn matched;",
        "mode": "runOnceForAllItems"
      },
      "id": "filterMatches",
      "name": "Filter Top Matches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3952,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare OpenAI payload for cover letter generation\nconst config = $('Set Job Preferences').first().json;\n\nreturn $input.all().map(item => {\n  const job = item.json;\n  const resume = config.resumeText || '';\n  const jobDesc = (job.description || '').substring(0, 3000);\n\n  const aiPayload = JSON.stringify({\n    model: 'gpt-4o-mini',\n    messages: [\n      {\n        role: 'system',\n        content: 'You are an expert career coach writing cover letters for a Software Engineer II with 5+ years of backend .NET experience.\\n\\nCANDIDATE: Backend-focused Full Stack Developer specializing in .NET Core, microservices, and distributed systems. Experience across Fintech (fund administration, client payments, Redis caching, microservice migrations) and Healthcare IT. Strong in system performance optimization, CI/CD pipelines, and cross-functional delivery.\\n\\nWrite a concise, professional cover letter (under 280 words) tailored to the specific job posting. Structure: opening hook matching the role, 2-3 sentences on relevant technical experience with 1-2 specific achievements from the background (e.g., improved response times 60% via Redis caching, raised test coverage to 85% with TDD, cut build times 15% via .NET 6-to-8 migration), closing with enthusiasm for the role and company. Plain text only, no bullet points, no placeholders, no Dear Hiring Manager — address the company by name if mentioned in the job posting.'\n      },\n      {\n        role: 'user',\n        content: 'Write a professional cover letter.\\n\\nRESUME:\\n' + resume + '\\n\\nJOB:\\n' + jobDesc\n      }\n    ],\n    temperature: 0.7\n  });\n\n  return {\n    json: {\n      ...job,\n      openAiApiKey: config.openAiApiKey,\n      aiPayload\n    }\n  };\n});",
        "mode": "runOnceForAllItems"
      },
      "id": "generateCoverLetter",
      "name": "Prepare Cover Letter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4208,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.openAiApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.aiPayload }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          },
          "timeout": 60000
        }
      },
      "id": "coverLetterGroqApi",
      "name": "Cover Letter OpenAI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4464,
        64
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const groqResponse = $input.item.json;\nconst job = $('Prepare Cover Letter').item.json;\n\nconst coverLetter = groqResponse.choices?.[0]?.message?.content || 'Cover letter generation failed.';\n\nreturn {\n  json: {\n    ...job,\n    coverLetter: coverLetter.trim(),\n    processedDate: new Date().toISOString().split('T')[0]\n  }\n};"
      },
      "id": "addCoverLetter",
      "name": "Attach Cover Letter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4704,
        64
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Job Tracker",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.processedDate }}",
            "Job Title": "={{ $json.title }}",
            "Company": "={{ $json.company }}",
            "Location": "={{ $json.location }}",
            "Match Score": "={{ $json.score }}",
            "Recommendation": "={{ $json.recommendation }}",
            "Match Reason": "={{ $json.matchReason }}",
            "Missing Skills": "={{ $json.missingSkills.join(\", \") }}",
            "Apply Link": "={{ $json.applyLink }}",
            "Cover Letter": "={{ $json.coverLetter }}"
          },
          "matchingColumns": [
            "Job Title",
            "Company",
            "Apply Link"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Score",
              "displayName": "Match Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendation",
              "displayName": "Recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Reason",
              "displayName": "Match Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Missing Skills",
              "displayName": "Missing Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apply Link",
              "displayName": "Apply Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Applied Date",
              "displayName": "Applied Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "saveToSheet",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4960,
        64
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst config = $('Set Job Preferences').first().json;\nconst today = new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nconst getScore = j => Number(j['Match Score'] || j.score || 0);\n\nif (items.length === 0) {\n  return {\n    json: {\n      subject: `Job Search: No new matches found - ${today}`,\n      htmlBody: `<html><body style=\"font-family: Arial, sans-serif;\"><h2>Job Search Report - ${today}</h2><p>No new jobs matched your criteria (minimum score: ${config.minScore}).</p></body></html>`,\n      matchCount: 0,\n      topScore: 0,\n      yourEmail: config.yourEmail\n    }\n  };\n}\n\n// Pull keyMatchingSkills from Attach Cover Letter (not persisted to Google Sheets)\nconst fullJobItems = $('Attach Cover Letter').all();\nconst merged = items.map((item, idx) => ({\n  ...item.json,\n  keyMatchingSkills: fullJobItems[idx]?.json?.keyMatchingSkills || []\n}));\nconst sorted = merged.sort((a, b) => getScore(b) - getScore(a));\nconst topScore = getScore(sorted[0]);\n\nconst jobRows = sorted.map(j => {\n  const title = j['Job Title'] || j.title || 'Unknown Title';\n  const company = j['Company'] || j.company || 'Unknown';\n  const location = j['Location'] || j.location || 'Not specified';\n  const score = getScore(j);\n  const recommendation = j['Recommendation'] || j.recommendation || 'skip';\n  const matchReason = j['Match Reason'] || j.matchReason || '';\n  const missingSkills = j['Missing Skills'] || (j.missingSkills ? (Array.isArray(j.missingSkills) ? j.missingSkills.join(', ') : j.missingSkills) : '');\n  const applyLink = j['Apply Link'] || j.applyLink || '#';\n  const coverLetter = j['Cover Letter'] || j.coverLetter || '';\n  const source = j.source || 'Google Jobs';\n  const salary = j.salary || 'Not listed';\n  const scoreColor = score >= 85 ? '#27ae60' : score >= 70 ? '#f39c12' : '#e74c3c';\n  const recBadge = recommendation === 'strong-apply' ? 'Strong Apply' : recommendation === 'apply' ? 'Apply' : recommendation === 'maybe' ? 'Maybe' : 'Skip';\n  const keySkillsArr = Array.isArray(j.keyMatchingSkills) ? j.keyMatchingSkills : [];\n  const keySkillTags = keySkillsArr.slice(0, 5).map(s =>\n    `<span style=\"background:#27ae60;color:white;padding:2px 7px;border-radius:10px;font-size:11px;margin-right:4px;\">${s}</span>`\n  ).join('');\n  return `<tr style=\"border-bottom: 1px solid #eee;\"><td style=\"padding: 12px;\"><strong>${title}</strong><br><span style=\"color: #666;\">${company} - ${location}</span><br><span style=\"color: #888; font-size: 12px;\">${source} | ${salary}</span></td><td style=\"padding: 12px; text-align: center;\"><span style=\"background: ${scoreColor}; color: white; padding: 4px 12px; border-radius: 12px; font-weight: bold;\">${score}</span></td><td style=\"padding: 12px; text-align: center;\">${recBadge}</td><td style=\"padding: 12px;\"><a href=\"${applyLink}\" style=\"background: #3498db; color: white; padding: 8px 16px; border-radius: 4px; text-decoration: none;\">Apply</a></td></tr><tr><td colspan=\"4\" style=\"padding: 8px 12px; background: #f9f9f9;\"><strong>Why it matches:</strong> ${matchReason}<br>${keySkillTags ? '<strong>Key skills:</strong> ' + keySkillTags + '<br>' : ''}${missingSkills ? '<strong>Missing:</strong> ' + missingSkills : ''}</td></tr><tr><td colspan=\"4\" style=\"padding: 8px 12px; background: #f0f7ff;\"><details><summary style=\"cursor: pointer; font-weight: bold;\">Cover Letter</summary><div style=\"white-space: pre-wrap; margin-top: 8px; padding: 12px; background: white; border: 1px solid #ddd; border-radius: 4px;\">${coverLetter}</div></details></td></tr>`;\n}).join('');\n\nconst htmlBody = `<html><body style=\"font-family: Arial, sans-serif; max-width: 800px; margin: 0 auto;\"><div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 24px; border-radius: 8px 8px 0 0;\"><h1 style=\"color: white; margin: 0;\">Job Search Report</h1><p style=\"color: rgba(255,255,255,0.8); margin: 8px 0 0;\">${today}</p></div><div style=\"background: #f5f5f5; padding: 16px;\"><span style=\"background: white; padding: 12px 24px; border-radius: 8px; margin-right: 16px;\"><strong style=\"font-size: 24px; color: #3498db;\">${sorted.length}</strong> Matches</span><span style=\"background: white; padding: 12px 24px; border-radius: 8px;\"><strong style=\"font-size: 24px; color: #27ae60;\">${topScore}</strong> Top Score</span></div><table style=\"width: 100%; border-collapse: collapse; background: white;\"><thead><tr style=\"background: #ecf0f1;\"><th style=\"padding: 12px; text-align: left;\">Job</th><th style=\"padding: 12px; text-align: center;\">Score</th><th style=\"padding: 12px; text-align: center;\">Action</th><th style=\"padding: 12px;\">Link</th></tr></thead><tbody>${jobRows}</tbody></table><div style=\"padding: 16px; text-align: center; color: #888; font-size: 12px;\">Generated by n8n Job Search Automation | Min score: ${config.minScore}</div></body></html>`;\n\nreturn {\n  json: {\n    subject: `${sorted.length} Job Matches (Top: ${topScore}/100) - ${new Date().toLocaleDateString('en-US', { month: 'short', day: 'numeric' })}`,\n    htmlBody,\n    matchCount: sorted.length,\n    topScore,\n    yourEmail: config.yourEmail\n  }\n};",
        "mode": "runOnceForAllItems"
      },
      "id": "buildEmail",
      "name": "Build Email Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5200,
        64
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.yourEmail }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.htmlBody }}",
        "options": {}
      },
      "id": "sendDigest",
      "name": "Send Gmail Digest",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        5456,
        64
      ],
      "webhookId": "070ae7ac-9add-48e7-b1be-2d7a49576389",
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const emailData = $('Build Email Digest').first().json;\nreturn {\n  json: {\n    success: true,\n    message: 'Job search automation completed!',\n    matchCount: emailData.matchCount || 0,\n    topScore: emailData.topScore || 0,\n    emailSent: true,\n    sentTo: emailData.yourEmail || 'unknown',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "successOutput",
      "name": "Success Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5712,
        64
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Resume PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Resume PDF": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Set Job Preferences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Job Preferences": {
      "main": [
        [
          {
            "node": "Search Google Jobs (JSearch)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Naukri Queries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Naukri Queries (C#)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Naukri Queries": {
      "main": [
        [
          {
            "node": "Search Naukri (Apify)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Naukri Queries (C#)": {
      "main": [
        [
          {
            "node": "Search Naukri C# (Apify)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Google Jobs (JSearch)": {
      "main": [
        [
          {
            "node": "Merge Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Naukri (Apify)": {
      "main": [
        [
          {
            "node": "Merge Search Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search Naukri C# (Apify)": {
      "main": [
        [
          {
            "node": "Merge Search Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Search Results": {
      "main": [
        [
          {
            "node": "Parse Job Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Job Results": {
      "main": [
        [
          {
            "node": "Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Duplicates": {
      "main": [
        [
          {
            "node": "Aggregate Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Jobs": {
      "main": [
        [
          {
            "node": "Sync Dedup Inputs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Existing Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Existing Jobs": {
      "main": [
        [
          {
            "node": "Sync Dedup Inputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Sync Dedup Inputs": {
      "main": [
        [
          {
            "node": "Filter New Jobs Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Jobs Only": {
      "main": [
        [
          {
            "node": "Filter Stack & Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Stack & Quality": {
      "main": [
        [
          {
            "node": "Prepare Score Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Score Request": {
      "main": [
        [
          {
            "node": "Score OpenAI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score OpenAI API": {
      "main": [
        [
          {
            "node": "Parse AI Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Score": {
      "main": [
        [
          {
            "node": "Filter Top Matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Top Matches": {
      "main": [
        [
          {
            "node": "Prepare Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cover Letter": {
      "main": [
        [
          {
            "node": "Cover Letter OpenAI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cover Letter OpenAI API": {
      "main": [
        [
          {
            "node": "Attach Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Cover Letter": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        [
          {
            "node": "Build Email Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Digest": {
      "main": [
        [
          {
            "node": "Send Gmail Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail Digest": {
      "main": [
        [
          {
            "node": "Success Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionCounter": 24,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-05T10:44:21.593Z",
      "createdAt": "2026-05-05T10:44:21.593Z",
      "role": "workflow:owner",
      "workflowId": "8vs888j57KeLaGtH",
      "projectId": "v57MF9hninLQjJn1",
      "project": {
        "updatedAt": "2026-04-13T17:51:12.677Z",
        "createdAt": "2026-04-13T17:48:21.460Z",
        "id": "v57MF9hninLQjJn1",
        "name": "Shivansh Choudhary <rstars97@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ee59bf0a-c34b-40df-ba84-2e01eda2ef35"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}